# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history
.rest_examples

# secrets
secrets.*.js

# IDE
.vscode

src/pages/contentScripts/splitPersonality/*
src/pages/contentScripts/locationWarp/*
src/pages/contentScripts/languageWarp/*
src/pages/contentScripts/timeZoneWarp/*


!src/pages/contentScripts/splitPersonality/.gitkeep
!src/pages/contentScripts/locationWarp/.gitkeep
!src/pages/contentScripts/languageWarp/.gitkeep
!src/pages/contentScripts/timeZoneWarp/.gitkeep
